.left-side {
    padding: 10px;
    overflow: auto;
    border: 2px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}

.right-side {
    height: 500px;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1000px){
.right-side{display: none;}
}
