.d-tree-container {
    list-style: none;
    padding: 0;
  }
  
  .d-tree-node {
    padding: 0.3rem 1.25rem;
  }
  
  .d-tree-toggler.active {
    transform: rotate(45deg);
  }

  .bar-plot-size {
    width: 200px;
    height: 8px;
  }